.hero {
  text-align: center;
  margin-block: 50px
}

h1 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 10px;
}

.hero p {
  max-width: 60dvw;
  margin-inline: auto;
  line-height: 40px;
}

.hero-button {
  margin-top: 25px;
  display: inline-block;
  padding: 20px 40px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #232323;
  border: none;
  border-radius: 24px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-button:hover {
  background-color: #005fa3;
  transform: scale(1.05);
}

.galeria {
  margin-block: 200px;
  display: grid;
  justify-content: center;
}

.galeria img {
  border-radius: 30px;
  width: 70dvw;
}