#hero {
  margin-top: 5dvh;
  margin-bottom: 50px;
}

.hero-button-1 {
  margin-top: 40px;
  display: inline-block;
  padding: 20px 30px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #232323;
  border: solid rgb(44, 44, 44);
  border-radius: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-button-2 {
  margin-top: 25px;
  display: inline-block;
  padding: 20px 30px;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(45, 45, 45);
  border: solid rgb(44, 44, 44) 2px;
  background-color: #ffffff;
  border-radius: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-button:hover {
  background-color: #005fa3;
  transform: scale(1.05);
}

#gallery {
  margin-block: 10dvh;
  display: grid;
  justify-content: center;
}

#gallery img {
  border-radius: 30px;
  width: 70dvw;
}

#about p {
  margin-bottom: 50px;
} 

#about #widget {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  gap: 25px;
}

#about #widget div {
  max-width: 375px;
  background-color: #ededed;
  padding: 15px;
  border-radius: 16px;
}